* {
  box-sizing: border-box;
  margin: 0px;
}
/* ESTILOS DARK */
.dark.btn-theme {
  border: 2px solid white;
  background-color: rgb(143, 31, 218);
  color: white;
}

.dark .btn {
  border: 2px solid white;
}

.dark .image-card {
  border: 2px solid white;
}

.dark h1,
.dark h2,
.dark h3 {
  color: white;
}

.App.dark {
  background-color: rgb(44, 44, 44);
}

.suggestions-container {
  width: 570px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #6809e1;
  position: absolute;
  top: 415px;
}
