* {
  box-sizing: border-box;
  margin: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

.App {
  border-top: 7px solid #6809e1;
  height: 100%;
}

.modo-dark {
  background-color: #373737;
}

.input-dark {
  width: 490px;
  height: 52px;
  border-radius: 61px 0px 0px 61px;
  border: 0.5px solid white;
  background-color: #373737;
}

.sugerencias {
  width: 100%;
  height: 46px;
  border: 0.5px solid rgb(220, 217, 220);
  list-style: none;
  background-color: white;
}

.sugerencias:hover {
  background-color: rgb(237, 231, 231);
  cursor: pointer;
}

.icono-buscar {
  width: 20px;
  position: absolute;
  top: 15px;
  left: 10px;
  cursor: pointer;
}
.icono-cerrar {
  width: 13px;
  position: absolute;
  top: 19px;
  left: 450px;
  cursor: pointer;
}

.sugerencias-container {
  width: 570px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #6809e1;
  position: absolute;
  top: 415px;
}

.header {
  width: 900px;
  height: 100px;
}

.max {
  height: 100%;
  margin-bottom: 89%;
}

.not-found {
  width: 100vw;
  height: 400px;
  background-color: #6809e1;
}

.filter {
  width: 900px;
  height: 100%;
  margin-top: 39px;
}

.img {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.color-white {
  color: white;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.flex-direction {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}

.margin-left-69 {
  margin-left: 69px;
}

.margin-right-69 {
  margin-right: 69px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-30 {
  margin-bottom: 50px;
}

.relative {
  position: relative;
}

.fondo-light {
  background-color: #e7e7e7;
  width: 900px;
  height: 100%;
}

.fondo-dark {
  background-color: #212121;
  width: 900px;
  height: 100%;
}

.padding-left-19 {
  padding-left: 19px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-20 {
  margin: 20px;
}

.btn-modo {
  width: 148px;
  height: 43px;
  background: none;
  border-radius: 61px;
  border: 1px solid #6809e1;
}

.btn-modo-dark {
  width: 148px;
  height: 43px;
  background: none;
  border-radius: 61px;
  border: 1px solid white;
}

.btn-modo:hover {
  background-color: rgb(80, 227, 194);
  border: none;
  cursor: pointer;
}

.font {
  font-family: "Roboto", sans-serif;
}

.size-18 {
  font-size: 18px;
}

.color-gris {
  color: #3f3f3f;
}
.color {
  color: #6809e1;
}

.weight-400 {
  font-weight: 400;
}

.weight-900 {
  font-weight: 900;
}

.input {
  width: 490px;
  height: 52px;
  border-radius: 61px 0px 0px 61px;
  border: 1px solid #121212;
  outline: none;
}

.btn-busqueda {
  width: 80px;
  height: 52px;
  border-radius: 0px 61px 61px 0px;
  background-color: #6809e1;
  border: none;
  cursor: pointer;
}
